/* Root Variables */
:root {
  --primary-blue: #001F3F;
  --primary-yellow: #FFC107;
  --light-grey: #f5f5f5;
  --dark-grey: #333;
  --white: #fff;
}

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  line-height: 1.6;
  letter-spacing: 1px;
}

/* Typography for Different Headings and Paragraphs */
h1 {
  animation: fadeIn 1s ease-in-out;
  font-size: 2.25rem;
  line-height: 1.3;
  color: #FFCB33;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

h2 {
  animation: fadeIn 1s ease-in-out;
  font-size: 1.55rem;
  /* 28px */
  line-height: 1.3;
}

h3 {
  animation: fadeIn 1s ease-in-out;
  font-size: 1.375rem;
  /* 22px */
  line-height: 1.3;
}

p {
  font-size: 1rem;
  /* 16px */
  line-height: 1.6;
}


/* Unified Button Design */
.button {
  padding: 10px 20px;
  background-color: var(--primary-blue);
  border: none;
  color: var(--white);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.button:hover {
  background-color: var(--primary-yellow);
}

/* Section Styling */
section {
  padding: 40px 20px;
  background-color: var(--white);
}

/* #section1 {
  background-color: var(--primary-yellow);
}

#section2 {
  background-color: var(--primary-blue);
  color: var(--white);
}

#section3 {
  background-color: var(--light-grey);
} */

/* Responsive Typography - Medium Devices */
@media (max-width: 1200px) {
  h1 {
      font-size: 2rem;
      /* 32px */
      margin-bottom: 15px;
      line-height: 1.25;
  }

  h2 {
      font-size: 1.5rem;
      /* 24px */
      margin-bottom: 15px;
      line-height: 1.25;
  }

  h3 {
      font-size: 1.25rem;
      /* 20px */
      margin-bottom: 15px;
      line-height: 1.25;
  }

  p {
      font-size: 0.9375rem;
      /* 15px */
      line-height: 1.5;
  }

  .button {
      padding: 10px 15px;
      font-size: 15px;
  }

  section {
      padding: 30px 15px;
  }
}

/* Responsive Typography - Small Devices */
@media (max-width: 768px) {

  .button {
      padding: 12px 10px;
      font-size: 14px;
      text-align: center;
  }

  section {
      padding: 20px 10px;
  }
}

/****************** Navbar Start  ***************/

.navbar {
  background: var(--white);
  color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  position: relative;
}

/* Logo and Company Name */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.company-name {
  font-size: 25px;
  font-weight: bold;
}

.company-name a {
  text-decoration: none;
  color: rgb(97, 97, 97);

}

/* Navbar Buttons */
.navbar-buttons {
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease, right 0.5s ease;
  /* Smooth transition */
}

.navbar-buttons a {
  text-decoration: none;
  color: white;
}

/* Button Modifiers */
.btn-login {
  background-color: var(--primary-blue);
}

.btn-signup {
  background-color: var(--primary-yellow);
}

.btn-signup:hover {
  background-color: #b38706;
}

/* Toggle button for small screens */
.navbar-toggle {
  cursor: pointer;
  font-size: 24px;
  display: none;
  position: relative;
  z-index: 1001;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
      padding: 10px 50px;
  }

  .navbar-buttons {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -100%;
      /* Initially off-screen to the right */
      width: 100%;
      height: 100vh;
      background-color: var(--white);
      justify-content: center;
      align-items: center;
      gap: 20px;
      z-index: 999;
  }

  .navbar-buttons.active {
      right: 0;
      /* Slide into view */
  }

  .navbar-toggle {
      display: block;
      color: var(--dark-grey);
  }

  .button {
      text-align: center;
  }
}

@media (max-width: 580px) {
  .company-name{
      display: none;
  }
}

/****************** Navbar End  ***************/

/****************** Hero Section Start ********/

/* Slider Container */
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 70vh;
  background-color: transparent;
}

/* Image Track */
.image-track {
  display: flex;
  width: 100vw;
  height: 70vh;
  transition: transform 1s cubic-bezier(0.25, 1, 0.5, 1);
}

/* Each Slide Image */
.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  transition: transform 1s ease-in-out;
}

/* Overlay Effect */
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Light black color for overlay */
  mix-blend-mode: color;
  z-index: 1; /* Positioned below the text and button */
}

/* Slide Caption */
.slide-caption {
  text-transform: uppercase;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary-yellow);
  font-size: 3rem;
  margin-bottom: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 8px;
  background-color: transparent;
  padding: 0.3rem;
  font-weight: bold;
  max-width: 90%;
  transition: opacity 0.5s ease;
  z-index: 2; /* Positioned above the overlay */
}

/* Button Container */
.button-container {
  position: absolute;
  bottom: 15%;
  left: 50%;
  z-index: 2; /* Positioned above the overlay */
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

/* Button Design */
.center-btn {
  background-color: var(--primary-blue);
  color: var(--white);
  border: none;
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.center-btn a {
  color: var(--white);
  text-decoration: none;
}

.center-btn:hover {
  background-color: var(--primary-yellow);
  transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .slide-image {
      height: 60vh;
  }

  .slider-container {
      height: 60vh;
  }

  .slide-caption {
      bottom: 20%;
      font-size: 2rem;
  }

  .center-btn {
      padding: 10px 20px;
      font-size: 0.9rem;
  }

  .button-container {
      bottom: 15%;
  }
}

@media (max-width: 480px) {
  .slide-image {
      height: 45vh;
  }

  .slider-container {
      height: 45vh;
  }

  .slide-caption {
      bottom: 20%;
      font-size: 1.5rem;
      padding: 5px 10px;
  }

  .center-btn {
      padding: 8px 15px;
      font-size: 0.8rem;
  }

  .button-container {
      bottom: 15%;
  }
}

/****************** Hero Section End ********/


/****************** Funnel Animation Start ********/

/******************* first section *******************/
 /* Funnel Section */
 .funnel {
  text-align: center;
  padding: 30px;
  background-color: var(--primary-blue);
  /* Funnel background */
  color: var(--white);
  /* Text color for heading and other elements */
}

.funnel h1 {
  color: var(--primary-yellow);
  /* Funnel heading color */
}

.funnel .main-heading2{
  margin-bottom: 50px;
}

.funnel-funnel-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.funnel-card {
  background-color: transparent;
  border: 2px dashed white ;
  border-radius: 8px;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  width: 25vw;
}

.funnel-card:hover {
  transform: scale(1.05);
  /* Smooth hover effect */
}

.funnel-icon {
  margin-bottom: 15px;
  font-size: 40px;
  color: var(--primary-yellow);
  /* Yellow color for funnel-icons */
}

.funnel-card h2 {
  margin-bottom: 10px;
  color: white;
  /* Card heading in primary blue */
}

.funnel-card p, .funnel-card ul li {
  color: #d5ad36;
  /* Professional grey text for funnel-card descriptions */
}

.funnel-card .funnel-list{
  text-align: left;
  justify-content: center;
  display: flex;
  width: 100%;
}

.funnel-count{
    position: absolute;
    padding: 0.4rem;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    background-color: var(--primary-yellow);
}

/* Responsive Design */
@media (max-width: 768px) {
  .funnel-funnel-cards {
      flex-direction: row;
      /* Keep the funnel-funnel-cards in a row */
  }
}

@media (max-width: 480px) {
  .funnel-card {
      padding: 20px;
      margin-bottom: 50px;
     width: 100%;
  }
}

/****************** Funnel Animation End ********/


/****************** Join Us Start ***************/

/* Container Styling */
.join-us {
  padding: 70px 0 50px 0;
  background-color: #f9f9f9;
}

/* Main container for cards */
.join-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Row styling */
.join-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  /* Space between cards */
}

/* Column for individual cards */
.join-column {
  flex: 1 1 calc(25% - 20px);
  /* Default: 4 cards in a row with space */
  max-width: calc(25% - 20px);
  min-width: 250px;
  /* Prevents cards from shrinking too much */
}

.join-column a{
  text-decoration: none;
}

/* Card Styling */
.join-qcard {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.join-qcard:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Icon Styling */
.join-qcard i {
  font-size: 3rem;
  margin-bottom: 15px;
  transition: transform 0.4s ease-in-out;
}

/* Icon Colors */
.volunteer-icon {
  color: #4CAF50;
}

.mentor-icon {
  color: #E91E63;
}

.donate-icon {
  color: #FFC107;
}

.hire-icon {
  color: #2196F3;
}

/* Icon Hover Effect (rotate and scale) */
.join-qcard:hover i {
  transform: rotateY(360deg) scale(1.3);
}

/* Text Styling */
.join-qcard p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: #333;
}

/* Responsive Styling */
@media (max-width: 1200px) {
  .join-column {
    flex: 1 1 calc(33.33% - 20px);
    /* 3 cards per row */
    max-width: calc(33.33% - 20px);
  }
}

@media (max-width: 992px) {
  .join-column {
    flex: 1 1 calc(50% - 20px);
    /* 2 cards per row */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .join-column {
    flex: 1 1 calc(50% - 20px);
    /* Still 2 cards per row, comfortable on smaller tablets */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .join-column {
    flex: 1 1 100%;
    /* 1 card per row */
    max-width: 100%;
  }

  .join-qcard {
    margin-bottom: 20px;
  }
}



/****************** Join Us End ***************/

/****************** Our Supported Start ***************/

.Supportive {
  padding: 1rem 0 3rem 0;
  text-align: center; /* Center text in container */
  margin: 0; /* Remove margin */
}

/* Responsive h1 */
.Supportive h1 {
  color: #FFCB33;
  margin-bottom: 40px; /* Space below heading */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

.Supportive-card-container {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center cards */
  align-items: center; /* Center cards vertically */
  flex-wrap: wrap; /* Wrap cards on smaller screens */
  gap: 20px; /* Space between cards */
  padding: 0 20px; /* Padding for responsiveness */
}

.Supportive-card {
  height: 14.4rem;
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside cards */
  width: 300px; /* Fixed width for cards */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  transition: all 0.3s ease; /* Smooth transition for effects */
  display: flex; /* Use flexbox for centering content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.Supportive-card:hover {
  transform: scale(.9); /* Lift effect on hover */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); /* Deeper shadow on hover */
}

.Supportive-card img {
  border-radius: 10px; /* Rounded corners for images */
  max-width: 100%; /* Responsive image size */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Center images */
}


/****************** Our Supported End ***************/

/* ===================================== Our Partners Start ================================== */

.our-partners-section {
  background-color: white;
  padding: 40px 0;
  text-align: center;
}

/* Heading Styling */
.partners-heading {
  font-weight: bold;
  color: #FFCB33;
  margin-bottom: 20px; /* Space below heading */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}
.our-partners {
  overflow: hidden;
  padding: 40px 0;
  display: flex;
  position: relative;
}

.our-partners:before,
.our-partners:after {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  content: "";
  z-index: 2;
}

.our-partners:before {
  left: 0;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.our-partners:after {
  right: 0;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.our-partners-slide {
  display: flex;
  white-space: nowrap;
  animation: slide 8s linear infinite;
  margin-left: 0;
  /* Remove any extra margin on the left */
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.our-partners-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 0 10px;
  /* Normal gap between cards */
  padding: 20px;
  width: 200px;
  height: auto;
  overflow: hidden;
}

.card-image img {
  width: 80%;
  flex-shrink: 0;
  height: auto;
  display: block;
}

/* Larger screens (desktops) */
@media (min-width: 1024px) {
  .our-partners-card {
    width: 200px;
    /* Small width for larger screens */
    padding: 20px;

  }
}

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  .our-partners-card {
    width: 220px;
    padding: 20px;

  }
}

/* Small screens (phones) */
@media (max-width: 768px) {
  .our-partners-card {
    width: 180px;
    padding: 15px;
  }

  .our-partners-slide {
    animation: slide 15s linear infinite;
    /* Faster slide for mobile */
  }
}

/* Extra small screens (small phones) */
@media (max-width: 480px) {
  .our-partners-card {
    width: 150px;
    margin: 0 5px;
    padding: 15px;
  }

  .card-image img {
    max-width: 100%;
    /* Ensure the image takes full width on small screens */
  }
}


/* ===================================== Our Partners End ================================== */


/****************** Metrics Section Start ***************/

/* Our Impact Section Styles */
.our-impact {
  text-align: center;
  padding: 1rem 1rem 4rem 1rem;
  background: var(--primary-blue);
  background-size: 200% 200%;
  animation: gradientAnimation 20s ease infinite;
  color: #fcfcfc;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.our-impact::before,
.our-impact::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: rgba(176, 177, 170, 0.3);
  filter: blur(70px);
  z-index: 0;
  animation: float 20s ease-in-out infinite;
}

.our-impact::before {
  width: 300px;
  height: 300px;
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}

.our-impact::after {
  width: 250px;
  height: 250px;
  bottom: 10%;
  right: 10%;
  animation-delay: 10s;
}

#our-impact {
  color: var(--primary-yellow);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
  font-family: 'Helvetica Neue', sans-serif;
}

#our-impact span {
  color: white;
  display: block;
  margin-top: 0.5rem;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.number {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.number:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  background-color: #f5f5f5;
}

.number h1 {
  font-size: 3rem;
  margin: 0;
  color: #1b1b1c;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  transition: color 0.3s;
}

.number:hover h1 {
  color: var(--primary-blue);
}

.number blockquote {
  margin: 1.5rem 0;
  padding: 0;
  border: none;
}

.number blockquote hr {
  border: 0;
  border-top: 2px solid #595959;
  margin: 0.5rem 0;
}

.number:hover blockquote hr {
  border: 0;
  border-top: 2px solid var(--primary-blue);
  margin: 0.5rem 0;
}

.number p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #595959;
  transition: color 0.3s;
}

.number:hover p {
  color: var(--primary-blue);
}

/* Media Queries */
@media (max-width: 768px) {
  .numbers {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;
  }
}

@media (max-width: 480px) {
  #our-impact {
      font-size: 2.5rem;
      margin-bottom: 1rem;
  }

  #our-impact span {
      font-size: 1.5rem;
  }

  .number {
      padding: 1rem;
  }

  .number h1 {
      font-size: 2.5rem;
  }

  .number p {
      font-size: 0.9rem;
  }
}

.our-impact .one {
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, var(--primary-blue));
  left: -30%;
  top: -20px;
  position: absolute;
  border-radius: 50%;
  filter: blur(10px);
  animation: float 8s ease-in-out infinite;
}

.our-impact .two {
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(9, 17, 51, 0.6) 0%, rgba(50, 68, 152, 0.4) 100%);
  top: 60%;
  right: -30%;
  position: absolute;
  border-radius: 50%;
  border: .5rem solid white;
  filter: blur(10px);
  animation: float 8s ease-in-out infinite;
}

.our-impact .mini-one,
.our-impact .mini-two,
.our-impact .mini-three,
.our-impact .mini-four {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, #ffcb33 0%, #a58a3941 100%);
  animation: float 2s ease-in-out infinite;
  z-index: -999;
}

.our-impact .mini-one {
  width: 150px;
  height: 150px;
  left: -40%;
  top: -30px;
  filter: blur(2px);
  animation-delay: 1s;
}

.our-impact .mini-two {
  width: 50px;
  height: 50px;
  left: 20%;
  top: 10px;
  filter: blur(2px);
  animation-delay: 2s;
}

.our-impact .mini-three {
  width: 50px;
  height: 50px;
  left: 30%;
  top: 120px;
  filter: blur(2px);
  animation-delay: 3s;
}

.our-impact .mini-four {
  width: 90px;
  height: 90px;
  left: 70%;
  top: 60px;
  filter: blur(2px);
  animation-delay: 4s;
}

/* Initially hide the mini circles inside .number elements */
.number .mini-one,
.number .mini-two,
.number .mini-three,
.number .mini-four {
  opacity: 0;
  transition: opacity 0.5s linear;
}

/* Show the mini circles on hover over .number */
.number:hover .mini-one,
.number:hover .mini-two,
.number:hover .mini-three,
.number:hover .mini-four {
  opacity: 1;
}

/* Gradient Animation */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Float Animation */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

/****************** Metrics Section End ***************/

/****************** Footer Section Start ***************/


/* Footer Container */
footer {
  width: 100%;
  padding: 4rem 0;
  background-color: #181818;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* Developer Section */
.credits {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.credits h1 {
  color: #ffd500;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}

.developerImageContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.developer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.developer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.developer:hover {
  transform: scale(1.1);
  border: 2px solid #ffd500;
}

.developer:hover img {
  transform: scale(1.1);
}

/* Contact Information Section */
.information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pagesContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.footer-logo img {
  height: 50px;
  margin-right: 15px;
}

.contact-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  margin-bottom: 0.8rem;
  color: #f0f0f0;
  font-size: 1rem;
}

.contact-info a {
  color: #f0f0f0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #ffd500;
  text-decoration: underline;
}

/* Social Media Icons */
.social-media {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-media a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 0.20rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .information {
      text-align: center;
  }

  .developer {
      width: 70px;
      height: 70px;
  }
}


/****************** Footer Section End ***************/


